.card{
    border-radius: 8px;
    box-shadow:3px 3px 5px rgba(129, 129, 129, 0.474);
    border: 1px solid #a9a9a9;
    padding: 15px;
    background-color: #f9f9f9;
    margin : 18px 0 ;
}
.card-head{
    font-size: 1.3rem;
    color: rgb(219, 0, 0);
}
.newsDateAndTime{
    font-size: 0.7rem;
    color: #999;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.card-body{
    margin-bottom: 20px;
    color: #4d4d4d;
    font-size: 0.9rem;
}
.reporter{
    font-size: 0.75rem;
    color: #616161;
    text-align: end;
}