*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer-contanier{
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 0;
    padding: 0;
    background: url(https://archives.sundayobserver.lk/2011/10/09/z_p-36-University.jpg);
    background-position: center;
    background-size: cover;
    min-width: 310px;
    border-top: 1px solid rgb(166, 166, 166);
}
.footer-content{
    background-color: transparent;
    backdrop-filter: blur(3px);
}

.about{
    margin: 10px 0;
}
.about h2{
    padding-top: 20px;
    margin-bottom: 5px;
}

.about a{
    color: rgb(86, 86, 86);
    text-decoration: none;
}

.socials{
    height: 40px;
}

.socials img{
    width: 35px;
    margin: 0px 10px;
}

.contact{
    font-size: 0.9rem;
    width: 100%;
    margin: 20px 0 15px;
    padding: 0 5px;
}

.contact p{
    margin-top: 4px;
}
.copyright{
    background-color: #444444;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright p{
    font-size: 0.8rem;
    color: white;
}