.forum-container{
    width: 75%;
    margin: auto;
    margin-bottom: 50px;
}
.forum-container h2{
    font-size: 2rem;
    margin: 30px 0 20px;
    border-left: 4px solid rgb(219, 0, 0);
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: 600;
}
.ForumAddBtn{
    margin: 30px 0 10px;
}
.ForumAddBtn button{
    border-radius: 8px;
    border: 1px solid ;
    background: #646464;
    color: #fff;
    padding: 8px 15px;
    transition: 0.2s ease;
}
.ForumAddBtn button:hover{
    cursor: pointer;
    background: #787878;
}
.ForumAddBtn button:active{
    background: #565656;
}
.forumInputContainer{
    padding: 15px;
    box-shadow: 1px 1px 6px 2px #ffb8b8;
    border-radius: 10px;
    border: 2px solid rgb(241, 75, 75);
    margin-bottom: 20px;
    background-color: #f1f1f1;
}
.forumInputContainer label, .forumInputContainer input, .forumInputContainer textarea {
    display: block;
    width: 100%;
    outline: none;
    padding: 5px 8px;
    border-radius: 8px;
}
.forumInputContainer input, .forumInputContainer textarea{
    border: 1px solid #ccc;
}
.forumInputContainer input[type="file"]{
    border: none;
}
.forumInputContainer button{
    border-radius: 8px;
    border: 1px solid ;
    background: #646464;
    color: #fff;
    padding: 5px 8px;
    margin: 10px 0 0;
}
.forumInputContainer button:hover{
    background: #939393;
    cursor: pointer;
}
.forumInputContainer button:active{
    background: #b5b5b5;
}

@media only screen and ( max-width: 780px){
    .forum-container{
        width: 90%;
    }
    .forum-container h2{
        font-size: 1.6em;
    }
}
