.fullLeaveForm{
    width:100%;
    margin: 0 auto;
}

.fullleave-container{
    width: 60%;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 50px;
}

.fullleave-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}
.form-group div {
    display: flex;
    align-items: center;
}
#leaveForm{
    width: 100%;
}
#leaveForm label {
    display: block;
    margin-bottom: 5px;
}

#leaveForm input,#leaveForm select,#leaveForm textarea,#leaveForm button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.radio div{
    width: 100px; 
    display: flex;
    align-items:; 
}

#leave{
    
}

.submit button {
    background-color: rgb(185, 6, 6);
    color: white;
    border: none;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
}

#leaveForm button:hover {
    background-color: rgb(148, 5, 5);
}

@media only screen and (max-width: 868px) {
    .fullleave-container{
        width: 90%;
    }
}