body{
    background-color: #f9f9f9;

}
.home-wrapper{
    width: 80%;
    margin: 0 auto;
    /* background-color: white; */
}
.home-img-slider{
    /* width: 80%; */
    position: relative;
    margin: 0 auto;
    margin-bottom: 60px;
}
.home{
    width: 100%;
}

.home-img-slider img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 0 0 12px 12PX;
}
.home-img-slider h1{
    /* -webkit-text-stroke: 1px #e9e9e9; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 7rem;
    /* width: 80%; */
    text-align: center;
    text-shadow: 6px 4px 5px rgb(66, 66, 66);
    color: rgb(255, 255, 255);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.home-top{
    height: 250px;
    margin-top: 20px;
    position: relative;
}
.home-top img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home-banner-profile{
    /* background: url(https://img.lovepik.com/background/20211021/large/lovepik-blue-banner-background-image_500452484.jpg); */
    background: linear-gradient(90deg,white, rgb(255, 0, 0), white);
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0;
    color: white;
    font-weight: 700;
}
.homeProfilePic{
    width: 110px;
    height: 110px;
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
    border: 4px solid #5e5e5e;
}
.homeProfilePic img{
    border-radius: 50%;
}
.home-banner-profile p{
    color: #c8c8c8;
}


.home-image-slide{
    width: 100%;
    border: 1px solid #b5b5b5;
    margin: auto;
    height: 400px;
    margin-bottom: 40px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}
.slide{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    opacity: 0;
    transition: opacity 3s ease-in-out;
    position: absolute;
}

.active{
    opacity: 1;
}

.home-container{
    margin: 40px 0 30px;
    width: 100%;
    display: flex;
    scale: 0.5 1;
    opacity: 0.6;
    animation: info;
    animation-timeline: view();
}
@keyframes info{
    to{
        scale: 1 1;
        opacity: 1;
    }
}
.home-main{
    background-color: rgb(222, 222, 222);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 20px;
    border-radius: 0 12px 12px 0;
}
.home-main h1{
    margin-bottom: 15px;
}

.home-main-img{
    width: 52%;
    flex-shrink: 0;
    border-radius: 12px 0 0 12px;
}
.home-main-img img{
    border-radius: 12px 0 0 12px;
    width: 100%;
    object-fit: center;
    height: 100%;
}
.homeQuikLinks{
    margin-bottom: 60px;
}
.homeQuikLinks h1{
    border-left: 4px solid rgb(219, 0, 0);
    padding-left: 10px;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.homeLinks{
    font-size: 1.2rem;
    margin: auto;
    max-width:750px;
}
.homeLinks a{
    text-decoration: none;
}
.homeLinks p{
    cursor: pointer;
    padding: 8px 8px;
    margin-bottom: 16px;
}
.leftLink img{
    width: 25px;
    float: right;
}
.rightLink img{
    width: 25px;
    float: left;
}
.leftLink{
    /* background: linear-gradient(90deg, rgb(15, 15, 207),rgb(15, 15, 207),white); */
    background: linear-gradient(90deg,rgb(71, 71, 71),rgb(104, 104, 104),white);
    color: white;
    border-radius: 8px;
}
.rightLink{
    background: linear-gradient(90deg,white, red, rgb(230, 0, 0));
    color: white;
    text-align: right;
    border-radius: 8px;
}
.newsFeed{
    width: 100%;
    margin-bottom: 60px;
    margin-top: 40px;  
}

.newsFeed h2{
    font-size: 1.8rem;
    border-left: 4px solid rgb(219, 0, 0);
    text-transform: uppercase;
    padding-left: 10px;
    margin-bottom: 30px;
}
.linkto{
    margin-bottom: 60px;
}
.linkto h2{
    border-left: 4px solid rgb(219, 0, 0);
    padding-left: 10px;
    text-transform: uppercase;
    margin-bottom: 40px;

}
.linkto div{
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: auto;
    margin-bottom: 40px;
}
.linkto img{
    width: 90px;
}

@media only screen and (max-width: 1200px) {
    .home-img-slider h1{
        font-size: 5rem;
    }
}

@media only screen and (max-width: 880px) {
    .home-wrapper{
        width: 92%;
    }
    .home-container{
        flex-direction: column;
        height: fit-content;
    }
    .home-main{
        border-radius: 0 0 12px 12px;

    }
    .home-main-img img{
        border-radius: 12px 12px 0 0;
        height: 100%;
    }
    .home-main-img{
        width: 100%;
    }
    .home-img-slider img{
        height: 400px;
    }
    .home-img-slider h1{
        font-size: 5.5rem;
    }
    .linkto img{
        width: 70px;
    }
    .home-image-slide{
        height: 350px;
    }
}
@media only screen and (max-width: 700px) {
    .home-img-slider{
        width: 100%;
    }
}
@media only screen and (max-width: 600px) {
    .home-img-slider img{
        height: 300px;
    }
    .home-img-slider h1{
        font-size: 3rem;
    }
    .homeQuikLinks h1{
        font-size: 1.4rem;
    }
    .newsFeed h2{
        font-size: 1.4rem;
    }
    .home{
        width: 85%;
    }
    .home-image-slide{
        height: 250px;
    }
    .linkto img{
        width: 45px;
    }
}

@media only screen and (max-width: 350px) {
    .home-img-slider h1{
        font-size: 180%;
    }
    .newsFeed h2{
        font-size: 1rem;
    }
}


