.staff-card {
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 8px;
    box-shadow: 2px 3px 5px rgba(42, 42, 42, 0.2);
    border: 1px solid #ccc;
    padding:20px 15px;
    background-color: #DDD;
    margin: 12px 21px;
    cursor: pointer;
    width: 12%;
    min-width: 125px;
}
.staff-card h4 {
    /* padding: 10px; */
    font-size: 0.95rem;
    font-weight: 600;
    /* text-shadow: 1px 1px 6px rgb(106, 104, 104); */
    text-align: center;
}

.staff-card p {
    font-size: 0.65rem;
    font-weight: 300;
    text-align: center;
}


.staff-card:hover {
    transform: translatex(-7px);
    box-shadow: 0 8px 13px rgba(0, 0, 0, 0.229);
}