.staffs{
    margin: 0 auto 50px;
    width: 80%;
}

.staffs h2{
    margin: 30px 20px 40px;
    font-size: 2rem;
    border-left: 4px solid rgb(219, 0, 0);
    padding-left: 10px;
    text-transform: uppercase;
    /* text-shadow: 1px 1px 8px rgb(106, 104, 104); */
}

.staffs > div > h3{
    margin: 20px 0;
    margin-left: 20px;
    font-size: 1.3rem;
    border-left: 4px solid rgb(68, 68, 68);
    padding-left: 10px;
    /* text-shadow: 1px 1px 8px rgb(106, 104, 104); */
}

.staff-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (max-width: 780px) {
    .staffs{
        width: 90%;
    }
}